@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: #000000;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
  }
}
